/*css puro*/
//comentario de scss

            
section{
    h3{
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: darksalmon;
        text-align: center;
        ul{

            font-style: normal;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: lightcoral;
            li{
                display: inline-table;
                width: 20px;
                height: 5px;
                padding: 10px;
            }
        }
    }
}
/*extend*/
.contacto__1{
     width: 80%;
    height: 30px;
    display: unset;
    flex-direction: row;
    padding:20px;
    
    

}
.contacto__1--nuevo{
    @extend .contacto__1;
    padding:10px;

}
            
            

        

    

