/*css puro*/
//comentario de scss

            
section{
    h3{
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: darksalmon;
        text-align: center;
        ul{

            font-style: normal;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: lightcoral;
            li{
                display: inline-table;
                width: 20px;
                height: 5px;
                padding: 10px;
            }
        }
    }
}
/*extend*/
.contacto__1{
     width: 80%;
    height: 30px;
    display: unset;
    flex-direction: row;
    padding:20px;
    
    

}
.contacto__1--nuevo{
    @extend .contacto__1;
    padding:10px;

}
.encabezado{
    width: 100%;
    height: 300px;
    
    .logo{
        padding:5px;
        margin:5px;
        width: 200px;
        height: 200px; 
        text-align:left ;  

         .encabezado__nav{
            text-align: right;
            list-style-type: none;
            padding: 10;
            display: flex;
            flex-wrap:wrap ;
            justify-content:flex-end  ;
            width: 100%;
            height: 200px;

            .encabezado_nav__lista{
                text-align: right;
                list-style-type: none;
                padding: 10;
                display: flex;
                flex-wrap:wrap ;
                justify-content:flex-end;
                
                  li{

                    display:inline-table;
                    width: 20px;
                    height: 5px;
                    padding: 10px;
                 
                }
                
               
                
            
            }   

        }
                        
    }
        
} 
.seccion{
    width: 100%;
    padding: 10px;
     
    .titulo{
        font-style: oblique;
        color:orangered;
        text-align-last: center;
        padding: 10px;
        animation-name:efecto;
        animation-iteration-count: 5;
        animation-duration: 5s;
        animation-timing-function: initial;
    
        .seccion__subtitulo{
            font-style: oblique;
            text-align-last:center;
            color:indianred;
            font-size:30px ;


            .imagen{
                background-color: bisque;
                display: flex;
                color: coral;
                width: 100%;
                height:350px ;
          
                .imagen__1{
                    padding: 10px;
                    width: 1200px;
                    height: 200px;
                
                    .imagen__2{
                        width:400px;
                        height: 200px;
                
                        .imagen__3{
                        width:300px;
                        height: 200px; 
                    }
                
                }   
            }    
        } 
    }    
}   

}.contacto{
    background-color:bisque;
    width: 100%;
    height:300px ;
    padding: 20px;

    .contacto__titulo{
        text-align: left;
        color:darksalmon ;
        font-style: normal;
    
        .contacto__titulo__texto{
            text-align: right;
            color: darksalmon;
            font-style: normal ;
        }

    }
 
}.footer{
    width: 100%;
    height:20px ;
    
     
    .footer__derechos{
        text-align: center ;
        padding: 10px;
        font-size:100%;
        width: 100%;
        height: 10px;
    }
}
.preguntas__frecuentes{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color:lightcoral;
     

}
.preguntas__1{
    font-family: 'Arial Narrow Bold', sans-serif;
    text-align: left;
    color: lightcoral;font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 10px;

     .preguntas__2{
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: left;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding: 10px;
    }  
    
}
.seccion__1{
    width:100% ;
    height: 20%;
    .carrusel-item{
       max-height: 10vh;
       .carrusel-item img{
          max-width: 80%; 
       }
    }
}
.seccion__precio{
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: darksalmon;
    text-align: center;

     .seccion__precio__lista{
       font-style: normal;
       color: lightcoral;
       font-family: Verdana, Geneva, Tahoma, sans-serif;
    }   
}       